                    
<form #formPago="ngForm" (ngSubmit)="cargarFormulario()" *ngIf="pagoCreado">
    <div [fxLayout]="adaptarOrientacion()" fxLayoutGap="10" fxFill>
        <div fxFlex>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Servicios Disponibles</mat-label>
                <div *ngIf="!usaFacturasPersonalizadas; else personalizado">
                    <mat-select
                    required
                    [(ngModel)]="pagoCreado.factura"
                    name="servicio"
                    >
                    <mat-option
                        *ngFor="let item of serviciosDisponibles"
                        [value]="item"
                    > {{item.nombre}} </mat-option>
                    </mat-select>
                </div>
                <ng-template #personalizado>
                    <mat-select
                    required
                    [(ngModel)]="serviciosDisponibles[0]"
                    name="servicio"
                    >
                    <mat-option
                        *ngFor="let item of serviciosDisponibles"
                        [value]="item"
                    > {{item.nombre}} </mat-option>
                    </mat-select>
                </ng-template>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Pago Efectuado</mat-label>
                <input
                    matInput 
                    type="number"
                    placeholder="monto"
                    required
                    name="pago"
                    [(ngModel)]="pagoCreado.pago"
                >
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Fecha de pago</mat-label>
                <input
                    matInput 
                    [matDatepicker]="picker"
                    [(ngModel)]="pagoCreado.fechaDePago"
                    name="fechaPago"
                    required
                    >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Comentario</mat-label>
                <input
                    matInput 
                    type="text"
                    placeholder="Nota..."
                    name="comentario"
                    [(ngModel)]="pagoCreado.comentario"
                >
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="10" fxFlex>
            <div>
                <button
                    fxFlex
                    mat-raised-button 
                    color="primary" 
                    type="submit"
                    [disabled]="formPago.invalid || formPago.untouched"
                >Cargar</button>
            </div>
            <div>
                <a 
                fxFlex mat-stroked-button 
                [href]="pagoCreado.factura.url"
                target="_blank"
                [disabled]="pagoCreado.factura.url == ''"
                >Abrir enlace</a>
            </div>
        </div>
    </div>
</form>