<form #formPago="ngForm" (ngSubmit)="cargarFormulario()">
    <div fxLayout="row" fxLayoutGap="10">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Servicios Disponibles</mat-label>
                <mat-select
                    required
                    ngModel
                    name="servicio"
                >
                    <mat-option
                        *ngFor="let item of serviciosDisponibles"
                        [value]="item"
                    > {{item.nombre}} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Pago Efectuado</mat-label>
                <input
                    matInput 
                    type="number"
                    placeholder="enlace"
                    required
                    name="url"
                    ngModel
                >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Fecha de pago</mat-label>
                <input
                    matInput 
                    [matDatepicker]="picker"
                    ngModel
                    name="fechaPago"
                    required
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <button
                mat-raised-button 
                color="primary" 
                type="submit"
                [disabled]="formPago.invalid"
            >Cargar</button>
        </div>
    </div>
</form>