<div class="col">
    <div class="row my-3">
        <mat-card>
            <mat-card-title>
                Formulario
            </mat-card-title>
            <mat-card-content>
                <app-formulario-pago></app-formulario-pago>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row my-3">
        <mat-card>
            <mat-card-title>
                Pagos realizado
            </mat-card-title>
            <mat-card-content>
                <app-tabla-pago></app-tabla-pago>
            </mat-card-content>
        </mat-card>
    </div>
</div>