<table #tabla *ngIf="servicios" mat-table [dataSource]="servicios | facturaOrden" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="servicio">
        <th mat-header-cell *matHeaderCellDef> 
            <div fxLayoutAlign="center center">
                {{tituloPersonalizado}}
            </div>    
        </th>
        <td mat-cell *matCellDef="let element"> 
            <div fxLayoutAlign="center center">
                {{element.nombre}}
            </div>    
        </td>
    </ng-container>

    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> 
        <div fxLayoutAlign="center center">
                Enlace
            </div>    
        </th>
        <td mat-cell *matCellDef="let element"> 
            <div fxLayoutAlign="center center">
                {{element.url}}
            </div>    
        </td>
    </ng-container>

    <ng-container matColumnDef="esRepetible">
        <th mat-header-cell *matHeaderCellDef> 
            <div fxLayoutAlign="center center">
                    Repetible
                </div>    
            </th>
            <td mat-cell *matCellDef="let element"> 
                <div fxLayoutAlign="center center">
                    <div *ngIf="element.esRepetible;else noRepetible">
                        <mat-icon>task_alt</mat-icon>
                    </div>
                    <ng-template #noRepetible>
                        <mat-icon color="warn">block</mat-icon>
                    </ng-template>
                </div>    
            </td>
    </ng-container>


  

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>
            <div fxLayoutAlign="center center">
                Acciones
            </div>    
        </th>
        <td mat-cell *matCellDef="let element">
            <app-botonera-tabla
            [puedeEditar]="true"
            [puedeEliminar]="true"
            (eliminar)="eliminar(element)"
            (editar)="dialogModificar(element)"
            ></app-botonera-tabla>
        </td>
    </ng-container>

    <div *ngIf="mostrarEnlace else sinEnlace">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr 
        mat-row 
        (click)="clickearRenglon(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
    </div>

    <ng-template #sinEnlace>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSinUrl"></tr>
        <tr 
        mat-row 
        (click)="clickearRenglon(row)"
        *matRowDef="let row; columns: displayedColumnsSinUrl;"></tr>
    </ng-template>
    
</table>