<table #tabla mat-table [dataSource]="pagos" class="mat-elevation-z8">

    <ng-container matColumnDef="factura">
        <th mat-header-cell *matHeaderCellDef> 
            <div fxLayoutAlign="center center">
                Factura
            </div>
        </th>
        <td mat-cell *matCellDef="let element"> 
            <div fxLayoutAlign="center center">
                {{element.factura.nombre}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="fechaPago">
        <th mat-header-cell *matHeaderCellDef> 
            <div fxLayoutAlign="center center">
                Fecha de Pago
            </div>
        </th>
        <td mat-cell *matCellDef="let element"> 
            <div fxLayoutAlign="center center">
                {{element.fechaDePago}}
            </div>    
        </td>
    </ng-container>

    <ng-container matColumnDef="pagoEfectuado">
        <th mat-header-cell *matHeaderCellDef> 
            <div fxLayoutAlign="center center">
                Pago
            </div>    
        </th>
        <td mat-cell *matCellDef=" let element">
            <div fxLayoutAlign="center center">
                {{element.pago}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> 
            <div fxLayoutAlign="center center">
                Acciones
            </div>    
        </th>
        <td mat-cell *matCellDef=" let element">
            <app-botonera-tabla
            [puedeEditar]="true"
            [puedeEliminar]="true"
            [puedeVer]="tieneComentario(element)"
            (eliminar)="eliminar(element)"
            (editar)="modificar(element)"
            (ver)="ver(element)"
            ></app-botonera-tabla>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>