<h2>
    <div *ngIf="!esVer else ver">Modificando:</div>
    <ng-template #ver>Visualizando</ng-template>
    <hr>
    <ul>
        <li>Factura: <b>{{data.pago.factura.nombre | titlecase}}</b></li>
        <li>Costo: <b>{{data.pago.pago | currency}}</b></li>
        <li>Fecha de pago: <b>{{data.pago.fechaDePago | date:"dd/MM/YYYY"}}</b></li>
        <li *ngIf="data.pago.comentario">Comentario: {{data.pago.comentario}}</li>
    </ul>
</h2>

<app-formulario-pago 
[pagoCreado]="pagoCopia" 
[esParaModificar]="true"
*ngIf="!esVer"
></app-formulario-pago>
