<div fxLayout="row">
    <div>
        <div *ngIf="!esVer else ver">Modificando:</div>
            <ng-template #ver>Visualizando</ng-template>
            <mat-list role="list">
                <div mat-subheader>Factura</div>
                <mat-list-item> {{data.pago.factura.nombre | titlecase}}</mat-list-item>
        
                <div mat-subheader>Pago</div>
                <mat-list-item>{{data.pago.pago | currency}}</mat-list-item>
        
                <div mat-subheader>Fecha de Pago</div>
                <mat-list-item>{{data.pago.fechaDePago | date:"dd/MM/YYYY"}}</mat-list-item>
        
                <div mat-subheader>Comentario</div>
                <mat-list-item> 
                    <div *ngIf="data.pago.comentario else sinComentario">{{data.pago.comentario}}</div>
                    <ng-template #sinComentario>Sin comentario</ng-template>
                </mat-list-item>
            </mat-list>
    </div>
    
    <div>
        <app-formulario-pago 
    [pagoCreado]="pagoCopia" 
    [esParaModificar]="true"
    *ngIf="!esVer"
    ></app-formulario-pago>
    </div>
</div>
