<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side">

        <mat-toolbar>
            <span>Menú</span>
            <span class="spacer"></span>

            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu_book</mat-icon>
            </button>
            <span class="spacer"></span>
        </mat-toolbar>

        <mat-nav-list (click)="sidenav.close()">
            <div *ngFor="let item of rutasComponentes">
                <a [routerLink]="item.ruta" mat-list-item>
                    <span (click)="seleccionarRuta(item)"> {{item.texto}} </span>
                </a>
            </div>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar class="menu">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu_book</mat-icon>
        </button>
        <span class="spacer"></span>

        <h1>{{rutaSeleccionada.texto}}</h1>
    </mat-toolbar>

    <div class="container contenido">
        <router-outlet></router-outlet>

    </div>

</mat-sidenav-container>