<div class="col">
    <div class="row my-3">
        <mat-card>
            <mat-card-title>
                Resumen
            </mat-card-title>
            <mat-card-content>
                <app-formulario-resumen></app-formulario-resumen>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row my-3">
        <mat-card>
            <mat-card-title>
                Resumen del mes :::::::::
            </mat-card-title>
            <mat-card-content>
                <app-tabla-resumen></app-tabla-resumen>
            </mat-card-content>
        </mat-card>
    </div>
</div>