<!-- <ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  >
</ngx-charts-pie-chart>
<h2>
  <div>La suma de valores es 100? <hr> Resultado: <strong>{{raul.value + mondongus.value + shoverto.value}}</strong> {{this.cumpleEquivalencia() ? "CUMPLE A PLENO" : "CAIDO"}}</div>

</h2>
<div>
  <div>{{raul.name}} - {{raul.value}}</div>
  <div>
    <mat-slider
  thumbLabel
  [(ngModel)]="raul.value"
  tickInterval="1000"
  step="1"
  min="0"
  max="100"
  aria-label="units"
  (valueChange)="changeData()"></mat-slider>
  </div>
</div>
<div>
  <div>{{mondongus.name}} - {{mondongus.value}}</div>
  <div>
    <mat-slider
  thumbLabel
  [(ngModel)]="mondongus.value"
  tickInterval="1000"
  step="1"
  min="0"
  max="100"
  aria-label="units"
  (valueChange)="changeData()"></mat-slider>
  </div>
</div>
<div>
  <div>{{shoverto.name}} - {{shoverto.value}}</div>
  <div>
    <mat-slider
  thumbLabel
  [(ngModel)]="shoverto.value"
  tickInterval="1000"
  step="1"
  min="0"
  max="100"
  aria-label="units"
  (valueChange)="changeData()"></mat-slider>
  </div>
</div> -->
<!-- <pre>{{porcentajes | json}}</pre> -->
<!-- <pre>{{data | json}}</pre> -->
<mat-form-field appearance="fill">
  <mat-label>Servicios disponibles</mat-label>
  <mat-select [(ngModel)]="facturaMarcada">
    <mat-option *ngFor="let item of facturas" [value]="item">{{item.nombre}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" >
  <mat-label>Usuarios disponibles</mat-label>
  <mat-select  multiple (closed)="actualizar()" [(ngModel)]="usuariosMarcados">
    <mat-option *ngFor="let user of usuarios" [value]="user">{{user.usuario}}</mat-option>
  </mat-select>
</mat-form-field>
<pre>{{facturaMarcada | json}}</pre>
<pre>{{usuariosMarcados | json}}</pre>
<!-- <ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut">
</ngx-charts-pie-chart> -->
