<div 
fxLayout="row" 
fxLayoutGap="10px" 
fxLayoutAlign="center start">
    <div  fxFlex="1 1 auto">
        <app-tabla-servicio 
        tituloPersonalizado="Servicios Pagados" 
        [servicios]="facturasPagadas"
        [esColoreable]="true"></app-tabla-servicio>
    </div>
    <div  fxFlex="1 1 auto">
        <app-tabla-servicio 
        tituloPersonalizado="Servicios Impagos" 
        [servicios]="facturasSinPagar"
        [esRenglonClick]="true"
        (renglonClickeado)="abrirFromularioPago($event)"
        [esColoreable]="true"
        ></app-tabla-servicio>
    </div>
    <div  fxFlex="10 1 auto">
        <app-tabla-pago
        [pagos]="pagosRealizados"></app-tabla-pago>
    </div>
</div>