<div 
fxLayout="row" 
fxLayoutGap="10px" 
fxLayoutAlign="center start">
    <div  fxFlex="1 1 auto">
        <app-tabla-servicio tituloPersonalizado="Servicios Pagados" [servicios]="facturasPagadas"></app-tabla-servicio>
    </div>
    <div  fxFlex="1 1 auto">
        <app-tabla-servicio tituloPersonalizado="Servicios Impagos" [servicios]="facturasSinPagar"></app-tabla-servicio>
    </div>
    <div  fxFlex="10 1 auto">
        <app-tabla-pago
        [pagos]="pagosRealizados"></app-tabla-pago>
    </div>
</div>