<h1>Creacion de Servicios</h1>
<form>
    <div fxLayout="row">
        <div fxLayoutGap="20px">
            <mat-form-field appearance="legacy">
                <mat-label>Nombre del Servicio ...</mat-label>
                <input matInput placeholder="">
                </mat-form-field>
        </div>
        <div fxLayout="col">
            <mat-form-field appearance="legacy">
                <mat-label>Pagina web ...</mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>
    </div>
</form>