<form #formServicio="ngForm" (ngSubmit)="cargarFormulario()">
    <div fxLayout="row" fxLayoutGap="10">
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Nombre del Servicio ...</mat-label>
                <input 
                matInput 
                placeholder=""
                required
                name="servicio"
                ngModel
                minlength="5"
                >
                </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Pagina web ...</mat-label>
                <input
                    matInput 
                    placeholder="enlace"
                    required
                    name="url"
                    ngModel
                    minlength="3"
                >
            </mat-form-field>
        </div>
        <div>
            <button
                mat-raised-button 
                color="primary" 
                type="submit"
                [disabled]="formServicio.invalid"
            >Cargar</button>
        </div>
    </div>
</form>